<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>☀️ Juhiksen jäätelökesä</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>☀️ Juhiksen jäätelökesä, 2025 🍦</h1>

      <p class="center">
        Uuden työpaikan toimiston edessä on jätskikiska. Ajattelin käydä läpi
        sen valikoiman tämän kesän aikana.
      </p>

      <p class="center">
        <a href="/feed/feed.xml">Seuraa jäätelökesää RSS-lukijalla.</a>
      </p>

      <div class="gallery">
        {% for photo in photos %}
        <figure>
          <img src="/assets/img/{{ photo.filename }}" alt="{{ photo.alt }}" />
          <figcaption>
            <h2 id="{{ photo.date }}">{{ photo.title }}</h2>
            <span class="date">{{ photo.date | format_date }}</span>
            {{ photo.caption | paragraphize | safe }}
          </figcaption>
        </figure>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
