---
permalink: feed/feed.xml
excludeFromSitemap: true
eleventyImport:
  collections: ["photos"]
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Juhiksen jäätelökesä</title>
  <subtitle>Maistellaan läpi lähijätskikiskan koko tarjonta</subtitle>
  <link href="https://jaatelokesa.hamatti.org/feed/feed.xml" rel="self" />
  <link href="https://jaatelokesa.hamatti.org/" />
  <updated>{{ collections.photos | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>jaatelokesa.hamatti.org</id>
  <author>
    <name>Juha-Matti Santala</name>
  </author>
  {%- for photo in photos %}
  <entry>
    <title>Jäätelöpäivä {{ photo.date | format_date}}</title>
    <link href="https://jaatelokesa.hamatti.org/#{{photo.date }}" />
    <updated>{{ photo.date }}</updated>
    <id>https://jaatelokesa.hamatti.org/#{{photo.date }}</id>
    <content type="html">
    <div>
        <img src="https://jaatelokesa.hamatti.org/assets/img/{{ photo.filename }}" alt="{{ photo.alt }}" />
        <h2>{{ photo.title }}</h2>
        <span class="date">{{ photo.date | format_date }}</span>
        {{ photo.caption | paragraphize | safe }}
    </div>
    </content>
  </entry>
  {%- endfor %}
</feed>